html{
  font-size: 62.5%;
  box-sizing: border-box;
}

body, #root{
  height: 100vh;
  margin: 0;
}

body, input, select, textarea{
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
  display: grid;
  grid-template: "header"
  "main"
  "footer";
  
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100vh;
}
a:hover{
  color: rgb(228, 151, 8);
}

header{
  grid-area: header;
  background-color: #2874f0;
  color: #ffffff;
  padding: 0.5rem;

  display: flex;
  align-items: center;
}
header a{
  color: #ffffff;
  text-decoration: none;
}
main{
  grid-area: main;
  background-color: #878787;

}
footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}
